/etc/runner.json
/tmp/
/var/


## git

*.orig


## python

*.pyc
__pycache__/

/.virtualenv/
/.virtualenv2/
/.virtualenv3/
/python/
/requirements.txt
/python_modules


## setuptools

/build/
/dist/
/pycircularbuffer.egg-info/
/src/pycircularbuffer.egg-info/
/.eggs/
/.cache/
/*.so


## tox

/.tox/


## vim

*.swo
*.swp
