## git

*.orig


## python

*.pyc
__pycache__/

/.virtualenv2/
/.virtualenv3/
/python/


## setuptools

/build/
/dist/
/pycircularbuffer.egg-info/
/.eggs/
/.cache/
/*.so


## tox

/.tox/


## vim

*.swo
*.swp
